.head {
    background-color: gray;
    height: 70px;
    display: flex;
}
.body {
    display: flex;
}
#left {
    left: 0;
}
#right {
    right: 0;
}
#zulaann {
    border-radius: 25px;
    background-color: pink;
    padding: 8px; 
    width: 117px;
    margin: 0;
    position: absolute;
    top: 1.5%;
    left: 2%;
}

#buttons {
    display: flex;
    position: absolute;
    right: 5%;
    top: 2%;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background: #eee;
}

body{
    margin: 0px;
    padding: 0px;
}
#text {
    text-align: center;
    position: absolute;
    left: 3%;
}



.pic1 {
    position:absolute;
    top: 375px;
    left: 850px;
    z-index: 1;
}
.pic2 {
    position:absolute;
    top: 320px;
    left: 650px;
    z-index: 2;
}
.pic3 {
    position:absolute;
    top: 205px;
    left: 960px;
    z-index: 3;
}
.pic4 {
    position:absolute;
    top: 100px;
    left: 580px;
    z-index: 4;
}
.pic5 {
    position:absolute;
    top: 75px;
    left: 840px;
    z-index: 5;
}
.pic6 {
    position:absolute;
    top: 220px;
    left: 800px;
    z-index: 6;
}




.me {
    background-color: rgb(255, 139, 158);
    left: 0;
    width: 400px;
    height: 540px;
}
.ab {
    background-color: pink;
    right: 0;
    width: 1200px;
    height: 540px;
}
.zulaa {
    border-radius: 50%;
}
.zultext {
    text-align: center;
}
.zulimg {
    text-align: center;
    margin: 50px;
}
.pff {
    display: flex;
}



.profile {
    text-align: left;
    padding: 20px;
}
.education {
    text-align: left;
    padding: 20px;
}
.skill {
    text-align: left;
    padding: 20px;
}
.hobby {
    text-align: left;
    padding: 20px;
}
.contact {
    text-align: left;
    padding: 20px;
}